# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs / OS
*.log
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Test/coverage
.coverage
.pytest_cache/
